@keyframes right {
    0%   {right: 100%;}
    100%   {right: 0%;}
}

@define-mixin button $color {
    border: 1px solid $color;
    padding: 4px;
    user-select: none;
}

.active {
    @mixin button black;
    cursor: pointer;
}

.inactive {
    @mixin button grey;
    position: relative;
}

.animate {
    background-color: grey;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 50%;

    animation-name: right;
    animation-timing-function: linear;
}
