.messagesArea {
}

.message {
    margin-bottom: 10px;
}

.animationEnter {
    opacity: 0.01;
}

.animationEnter.animationEnterActive {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.animationLeave {
    opacity: 1;
}

.animationLeave.animationLeaveActive {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
